<html>
    <head>
        <title>Day of the Week Finder</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Day of the Week Finder:</h1>
            <hr>

            {% if value[0] == "ERROR" %}
                <h2>Please only input a proper date!</h2>
            {% endif %}
            {% if value[0] != "ERROR" %}
                <h2>Here is day of the week for {{ value[1] }}:</h2>
                <h3>It was a {{ value[0] }}!</h3>
            {% endif %}

            <br>
            <p><a class='btn btn-primary btn-lrg' href='/'
role='button'>Check another date!</a></p>
        </div>

    </body>
</html>
