<html>
    <head>
        <title>Day of the Week Finder</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h2>Here is day of the week for {{ value[1] }}:</h2>
            <h1>It was a {{ value[0] }}!</h1>
        </div>

    </body>
</html>
