<html>
    <head>
        <title>Day of the Week Finder</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <h1>Day of the Week Finder:</h1>
            <hr>
            <p>This calculator will deduce the day of the week for any given date.</p>
            <form  action="/result">
                <div class="form-group">
                    <label for="date">Input a date:</label>
                    <input type="text" name="date" id="date" class="form-control" placeholder="01/01/2001">
                </div>
                <button name="submit" class= "btn btn-success">Submit</button>
            </form>
        </div>
    </body>
</html>
